.page_content {
	width: 96%;
	margin: auto;
	padding-top: 15%;
}
.col_content {
	width: 90%;
	margin: auto;
}

.col {
	border-radius: 5px;
}

.main {
}

.secondary h2 {
	font-family: 'PT Serif', serif;
	color: #57534C;

}
.secondary li {
	margin: 5px;
}
.main-img {
	max-width: 100%;
}

/* Phones to Tablets */

@media only screen and (min-width: 481px) {
	.col {
		float: left;
	}
	.main {
		width: 66%;
	}
	.secondary {
		width: 32%; 
	}
	.secondary {
		margin-left: 2%;
	}
}

/* Tablets to Desktop */

@media only screen and (min-width: 769px) {	
}