html {
	min-width: 320px;
}
a {
	text-decoration: none;
}

h1, h2 {
	color: #57534C;
	font-family: 'Open Sans', sans-serif;
}
h3 {
	font-family: 'Merriweather', serif;
}
p {
	font-family: 'Merriweather', serif;
}
body {
	color: #57534C;
	background: #fff;
}

ul {
	list-style: none;
}
li {
}

