/*  General
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */
a {
	text-decoration: none;
}
h2, h3 {
	font-weight: 300;
}
body {
	color: #4A4749;
}
ul {
	list-style: none;
}



/*  Header
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */
#header {
	width: 100%;
	float: left;
	border-top: #112461 solid 7px;
}
#main-nav {
	border-top: #92C3DB solid 3px;
}
#site-title a {
  color: #4A4749;
}
#site-title h1 {
	font-size: 1.8em;
	font-weight: 100;
	font-variant: small-caps;
	text-align: center;
	margin: 0;
	padding-top: 7px;
	color: #4A4749;
}
#site-title h2 {
	margin: 0;
	font-size: 1em;
	text-align: center;
	color: #92C3DB;
}
#sub-page-nav {
	display: inline-block;
	text-align: center;
	margin: 20px 0;
	width: 100%;
}
#sub-page-nav a {
	margin: 0 15px;	
	background: #EAE8E9;
	color: #4A4749;
	font-weight: 300;
	padding: 7px 3px 3px 3px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 2px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 1px 2px 1px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 1px 2px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
@media screen and (min-width: 641px) {
	#site-title {
		float: left;
		margin-left: 3%;
		padding-top: 20px;
	}
	#site-title h1 {
		text-align: right;
	}
	#site-title h2 {
		text-align: right;
	}
	#sub-page-nav {
		float: right;
		margin: 50px 3% 0px 0px;
		width: auto;
	}
	#sub-page-nav a {
		padding: 50px 7px 3px 7px;
		border-radius: 0;
		-o-transition:.2s;
		-ms-transition:.2s;
		-moz-transition:.2s;
		-webkit-transition:.2s;
		transition:.2s;
		-webkit-box-shadow: none;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow:    none;  /* Firefox 3.5 - 3.6 */
		box-shadow:         none;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}
	#sub-page-nav a.current_page {
	color: #A70923;
	}
	#sub-page-nav a:hover {
		border-bottom: none;
		border-left: none;
		border-right: none;	
		border-bottom: #A70923 solid 1px;
	}
}



/*  Layout
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */
.page-content {
	width: 90%;
	margin: 0 5%;
	float: left;
}
.col-content {
	width: 90%;
	margin: auto;
}
.col-content li {
	margin-bottom: 5px;
}
.col {
	margin-top: 2%;
	
}
.secondary ul {
	padding-bottom: 20px;
}
/* Phones to Tablets */
@media only screen and (min-width: 641px) {
	.col {
		float: left;
	}
	.main {
		width: 66%;
	}
	.secondary {
		width: 32%; 
	}
	.secondary {
		margin-left: 2%;
	}
}
@media only screen and (min-width: 961px) {
	.page-content {
		width: 80%;
		margin: 0 10%;
	}
}
@media only screen and (min-width: 1025px) {
	.page-content {
		width: 60%;
		margin: 0 20%;
	}
}



/*  Footer
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */
#page-footer {
	width: 100%;
	float: left;
	margin-top: 130px;
	margin-bottom: 20px;
}
#page-footer ul {
	width: 100%;
	margin: 0;
	padding: 7px 0;
	text-align: center;
	float: left;
	list-style: none;
}
#page-footer li {
	padding-top: 3px;
	font-weight: 100;
	font-size: .8em;
}
#page-footer a {
	color: #A60014;
	font-family: 'Crimson Text', serif;
}
/* Phones to Tablets */
@media only screen and (min-width: 641px) {
#page-footer ul {
		width: 50%;
	}
}



/*  Home Page
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */
.home ul {
	padding: 0;
	margin-bottom: 50px;
}

.home li {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 3px 0 0 30px;
  margin: 0 0 10px;
}
.home li.dance {
	background-image: url(../icon/skateIcon-2.png);
}
.home li.freeskate {
	background-image: url(../icon/skateIcon-5.png);
}
.home li.chor {
	background-image: url(../icon/skateIcon-3.png);
}
.home li.moves {
	background-image: url(../icon/skateIcon-4.png);
}
.home li.skills {
	background-image: url(../icon/skateIcon-1.png);
}
.home address{
	font-size: .8em;
}
.home h4{
	font-size: .9em;
	margin-bottom: 7px;
}
.home a {
	color: #A70923;
}
@media screen and (min-height: 700px) {
	.home {
		padding-bottom: 230px;
	}
}



/*  Coaches Page
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */
.coach-profile {
	margin: 15% 5%;
}
.profile-photo {
	float: left;
	margin: 20px;
	opacity: 1;
	width: 30%;
	border-radius: 0%;
}
.coach-bio {
	width 70%;
}
.coach-bio a {
	color: #4A4749;
	text-decoration: underline;
}



/*  Contect Page
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */
.contact {
	padding-top: 120px;
}
.contact ul {
	margin-bottom: 30px;
	padding: 7px;
}
.contact-info {
  padding: 0;
  margin: 0;
  font-size: 0.9em; 
}  
.contact-info a {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  color: gray;
}
.contact-info li.phone a {
  background-image: url('../icon/phone.png');
}
.contact-info li.mail a {
  background-image: url('../icon/mail.png');
}
.contact-info li.twitter a {
  background-image: url('../icon/twitter.png');
}
@media screen and (min-width: 641px) {
	.contact {
		padding-top: 90px;
	}
}



