.page_content {
	width: 96%;
	margin: auto;
	padding-top: 20%;
}
.col_content {
	width: 90%;
	margin: auto;
}
.col_content ul {
	margin-bottom: 50px;
}

.col {
	margin-top: 2%;
	border-radius: 5px;
}

.main {
	margin-top: 20%;
}

.secondary {
}
.secondary h2 {
	color: #57534C;

}
.extra {
	display: none;
}

#contact_content {
	width: 80%;
	margin: auto;
}
img {
  max-width: 100%;
  border-radius: 100%;
  opacity: 0.8;
}


.gallery {
  margin: 0;
  padding: 5px;
  list-style: none;
}

.gallery li {
  float: left;
  width: 95%;
  margin: 2.5%;
  color: #bdc3c7;
}

.gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}
.contact-info {
  padding: 0;
  margin: 0;
  font-size: 0.9em; 
}  

.contact-info a {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  color: gray;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}
.coach-profile {
	margin: 15% 5%;
}
.profile-photo {
	float: left;
	margin: 20px;
	opacity: 1;
	width: 30%;
	border-radius: 0%;
}
.coach-bio {
	width 70%;
}
.coach-bio a {
	color: #57534C;
	text-decoration: underline;
}
/* Phones to Tablets */

@media only screen and (min-width: 481px) {
	.page_content {
	padding-top: 5%;
	}

	.col {
		float: left;
	}
	.main {
		width: 66%;
		margin-top: 0;
	}
	.secondary {
		width: 32%; 
	}
	.secondary {
		margin-left: 2%;
	}
	.extra {
		display: block;
		width: 100%;
	}
	img {
	  max-width: 100%;
	}
	.gallery {
	  margin: 0;
	  list-style: none;
	}
	.gallery li {
	  float: left;
	  width: 31.3333%;
	  margin: 1%;
	  color: #bdc3c7;
	}

}

/* Tablets to Desktop */

@media only screen and (min-width: 769px) {	
}